body {
  .font;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: @bg-color--grey;
}
h1 {
  .font(18px, 14px, #000000, 700);
  margin: 0;
  padding: 0;
}
h2 {
  .font(@color:#000000, @font-weight:700);
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  text-align: center;
}
figure {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
::-webkit-input-placeholder {
	color: #283645;
    opacity: 1;
}
::-moz-placeholder {
	color: #283645;
    opacity: 1;
}
:-moz-placeholder {
	color: #283645;
    opacity: 1;
}
:-ms-input-placeholder {
	color: #283645;
    opacity: 1;
}
/* min-width: 960px */

@media (min-width: 960px) {
  body {
    position: relative;
  }
}
