@apps--bg-color: #1d2631;

.apps {
  background-color: @apps--bg-color;
}
.apps__navigation {
  font-size: 0;
}
.apps__item {
  display: inline-block;
  vertical-align: middle;
}
.apps__link {
  display: block;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.apps__link--ios {
  width: 47px;
  height: 56px;
  background-image: url(/img/logo-apple.svg);
}
.apps__link--android {
  width: 43px;
  height: 47px;
  background-image: url(/img/logo-android.svg);
}
.apps__link--win-phone {
  width: 44px;
  height: 41px;
  background-image: url(/img/logo-microsoft.svg);
}

