.contacts {
  position: relative;
  min-height: 447px;
  padding: 0 20px;
  background-image: url(/img/bg-triangle-white-footer.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  z-index: 2;

  &__text {
    font-size: 24px;

    &--bold {
      font-size: 18px;
      color: #283645;
      font-weight: 700;
    }
  }
  &__link {
    font-size: 24px;
    color: #d22856;
    text-decoration: none;
  }
}
/* min-width: 660px */

@media (min-width: 660px) {
  .contacts {

    &__text {
      width: 370px;
      margin: 0 auto;
      padding-top: 26px;
      margin-bottom: 30px;
      font-size: 40px;
      line-height: 50px;
    }
    &__container-content {
      width: 100%;
      min-height: 190px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
    }
    &__text-container {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 3;

      }
      &:nth-child(3) {
        order: 2;
      }
    }
  }
}
