.developer {
  width: 150px;
  display: flex;
  align-items: center;
}
.developer__text {
  margin-top: 4px;
  margin-left: 22px;
}
.developer__logo {
  width: 27px;
  height: 34px;
  margin-top: 5px;
  margin-left: 14px;
 }
.developer__link {
  font-size: 0;
}
.developer__logo-htmla {
  &:hover {
    path {
      fill: #000000;
    }
  }
  &:active {
    path {
      opacity: 0.5;
    }
  }
}
/* max-width: 659px */

@media (max-width: 659px) {
  .developer {
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .developer__text {
    margin: 0;
  }
  .developer__logo {
    margin: 0;
    margin-left: 14px;
  }
}
/* min-width: 960px */

@media (min-width: 960px) {
  .developer__text {
    font-size: 18px;
    margin-left: -5px;
  }
  .developer__logo {
    margin-left: 15px;
  }
}
