.feature {
  padding: 0 20px;

  &__content {

    &:first-child {
      padding-top: 80px;
    }
    h1 {
      margin-bottom: 13px;
      line-height: 10px;
      text-align: center;
    }
    p {
      margin-bottom: 40px;

      &:nth-child(2) {
        width: 290px;
      }
    }
  }
  &__preview {
    width: 157px;
    height: 320px;
    margin: 0 auto;
  }
}
