.footer-logo {
  &:hover {
    path {
      fill: #d22856;
    }
  }
  &:active {
    opacity: 0.3;
  }
}
.footer-logo__glass {
  &--star {
    display: none;
  }
}
/* min-width: 660px */

@media (min-width: 660px) {
  .footer-logo__glass {
    &--star {
      display: none;
    }
  }
}
/* min-width: 960px */

@media (min-width: 960px) {
  .footer-logo__glass {
    &--star {
      display: block;
    }
    &--no-star {
      display: none;
    }
  }
}
