.main-header {
  position: relative;
  width: auto;
  margin: 0 auto;

  &__container {
    background-image: url(/img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}
  &__preview {
    height: 286px;
    padding-top: 105px;

    img {
      width: 258px;
      height: 286px;
    }
  }
}
.main-menu {


  &__navigation {
    margin: 0;
    padding: 0;
    list-style: none;

    &--hidden {
        display: none;
      }
  }
  &__btn {
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;

    &--active {
      width: 50px;
      height: 24px;
      background-image: url(/img/icon-menu-burger.svg);
    }
    &--close {
      width: 24px;
      height: 23px;
      background-image: url(/img/icon-menu-cross.svg);
    }
  }
  &__item {
    border-top: 1px solid #485461;
  }
  &__child {
    background-color: rgba(30, 39, 51, 1);
    border-bottom: 1px solid #000000;
  }
  &__top-block {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 22px;

    &--active {
      border: none;
      background-color: rgba(30, 39, 51, 0.7);
    }
  }
  &__link {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    padding: 14px 0;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
  }
}
/* min-width: 660px */

@media (min-width: 660px) {
  .main-header {
    width: auto;

    &__preview {
      position: relative;
      margin-left: 190px;
      padding-top: 85px;
      z-index: 2;
    }
  }
  .main-menu {
    &__navigation {
      &--active {
        padding-top: 44px;
        padding-bottom: 42px;
      }
    }
  }
}
