.main-footer {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  padding-top: 38px;
  padding-bottom: 37px;
  background-color: @bg-color--white;

  &__logo {
    width: 150px;
    height: 41px;
  }
}
/* max-width: 659px */

@media (max-width: 659px) {
  .main-footer {
    &--hidden {
      display: none;
    }
  }
}
/* min-width: 960px */

@media (min-width: 960px) {
  .main-footer {
    justify-content: space-between;
    padding: 0 10px;
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
