.popup-good {
  &--hidden {
    display: none;
  }
}
.popup-good__content {
  padding: 0 20px;

  p {
    width: 270px;
  }
}
.popup-good__btn-container {
  width: 100%;
  height: 163px;
  padding: 0 20px;
  background-color: @bg-color--grey;
  box-sizing: border-box;
}
.popup-good__btn {
  margin-top: 50px;
}
/* min-width: 660px */

@media (min-width: 660px) {
  .popup-good__content {
    padding: 0 80px;

    p {
      width: 320px;

      br {
        display: none;
      }
    }
  }
  .popup-good__btn-container {
    padding: 0 80px;
  }
}
/* min-width: 960px */

@media (min-width: 960px) {
  .popup-good {
    left: 20%;
    width: 780px;

    h1 {
      width: 440px;
    }
    p {
      width: 395px;
    }
  }
  .popup-good__content {
    padding: 0 160px;
  }
  .popup-good__btn-container {
    padding: 0 160px;
  }
}
