.price {
  padding-top: 65px;
  background-color: @bg-color--grey;
  overflow: hidden;

  &__container {
    &:first-child .price__cell {
      text-align: left;
    }
  }
  &__table {
    width: 620px;
  }
  &__header {

  }
  &__title {
    width: 150px;
    height: 80px;
    position: relative;
    text-transform: uppercase;
    background-color: @bg-color--dark-blue;
    overflow: hidden;

    &--hidden {
      background-color: transparent;
    }
  }
  &__cell {
    height: 45px;
    padding-left: 18px;
    text-align: center;
    background-color: #ffffff;
  }
  h2 {
    margin-top: 14px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
  }
  &__cost {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #8c949c;
  }
  &__hit {
    position: absolute;
    top: 5px;
    left: -30px;
    width: 104px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    background-color: #d22856;
    transform: rotate(-45deg);
  }
  &__input {
    display: none;
  }
  &__slider-controls {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
#toggle-price1:checked ~ .price__slider-controls label[for="toggle-price1"],
#toggle-price2:checked ~ .price__slider-controls label[for="toggle-price2"],
#toggle-price3:checked ~ .price__slider-controls label[for="toggle-price3"]{
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #283645;
}
