.review {
  padding: 0 20px;
  background-image: url(/img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  &__slide {
    display: none;
  }
  &__title {
    padding-top: 43px;
    line-height: 30px;
    text-align: center;
  }
  &__autor-info {
    margin: auto;
    font-size: 18px;
    line-height: 30px;
  }
  &__slide-text {
    width: 270px;
    margin-top: 20px;
    line-height: 30px;
  }
  &__input {
    display: none;
  }
  &__slider-controls {
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
    font-size: 0;
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
      }
  }
}
#toggle-review1:checked ~ .review__slide1,
#toggle-review2:checked ~ .review__slide2,
#toggle-review3:checked ~ .review__slide3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#toggle-review1:checked ~ .review__slider-controls label[for="toggle-review1"],
#toggle-review2:checked ~ .review__slider-controls label[for="toggle-review2"],
#toggle-review3:checked ~ .review__slider-controls label[for="toggle-review3"] {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #283645;
}
/* max-width: 659px */

@media (max-width: 659px) {
  .review {
    &__autor-info--hidden {
      display: none;
    }
  }
}
/* min-width: 660px */

@media (min-width: 660px) {
  .review {
    &__slide {
      margin: auto;
      width: 620px;
    }
    &__title {
      font-size: 20px;
      color: #000000;
      order: 2;
    }
    &__autor-info {
      order: 3;
    }
    &__slide-text {
      width: 100%;
      font-size: 18px;
      order: 1;
    }
    &__slider-controls {
      margin-top: 38px;
    }
  }
}
/* min-width: 960px */

@media (min-width: 960px) {
  .review {
    padding: 0 10px;
    position: relative;
    min-height: 487px;

    &::before {
      content: '';
      position: absolute;
      top: 63px;
      left: 50%;
      width: 78px;
      height: 63px;
      background-image: url(/img/icon-quotes.svg);
      background-repeat: no-repeat;
      background-position: 100% 100%;
    }
    &__slide {
      padding-top: 180px;
    }
    &__slide-text {
      width: 690px;
    }
    &__label {
      position: absolute;
      top: 50%;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 3px solid #bec2c7;
      border-top: none;
      border-right: none;
      border-radius: 0;

      &:nth-child(1) {
        left: 10px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        right: 10px;
        transform: rotate(-135deg);
      }
    }
  }
  #toggle-review1:checked ~ .review__slider-controls label[for="toggle-review1"],
  #toggle-review3:checked ~ .review__slider-controls label[for="toggle-review3"] {

    box-shadow: none;
    opacity: 0.5;
  }
}
