.review {
  padding: 0 20px;
  background-image: url(/img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  &__slide {
    display: none;
  }
  &__title {
    padding-top: 44px;
    line-height: 30px;
    text-align: center;
  }
  &__autor-info {
    margin: auto;
    font-size: 18px;
    line-height: 30px;
  }
  &__slide-text {
    width: 270px;
    margin-top: 20px;
    line-height: 30px;
  }
  &__input {
    display: none;
  }
  &__slider-controls {
    margin: 0 auto;
    padding-bottom: 50px;
    text-align: center;
    font-size: 0;
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
#toggle-review1:checked ~ .review__slide1,
#toggle-review2:checked ~ .review__slide2,
#toggle-review3:checked ~ .review__slide3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#toggle-review1:checked ~ .review__slider-controls label[for="toggle-review1"],
#toggle-review2:checked ~ .review__slider-controls label[for="toggle-review2"],
#toggle-review3:checked ~ .review__slider-controls label[for="toggle-review3"] {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #283645;
}
/* max-width: 659px */

@media (max-width: 659px) {
  .review {

    &__time--hidden {
      display: none;
    }
    &__autor-info--hidden {
      display: none;
    }
  }
}
/* min-width: 660px */

@media (min-width: 660px) {
  .review {
    &__time {
      display: flex;
      justify-content: space-between
    }
    &__logo-time {
      margin-top: 58px;
    }
    &__content {
      width: 310px;
      margin-top: 100px;
      text-align: left;

    }
    &__title-content {
      font-size: 30px;
      line-height: 36px;
      color: white;
      margin-bottom: 5px;
    }
    &__content-text {
      width: 290px;
      margin-bottom: 21px;
      text-align: left;
    }
    &__link {
      display: inline-block;
      vertical-align: top;
      line-height: 15px;
      color: #d22856;
      text-decoration: none;

      &::after {
        content: '';
        display: block;
        border-bottom: 1px solid #e9aab7;
      }
    }
    &__slide {
      margin: auto;
      width: 620px;
    }
    &__title {
      font-size: 20px;
      color: white;
      order: 2;
    }
    &__autor-info {
      order: 3;
    }
    &__slide-text {
      width: 100%;
      font-size: 18px;
      order: 1;
    }
    &__slider-controls {
      margin-top: 38px;
    }
  }
}
