.suggestion {
  min-height: 248px;
  background-image: url(/img/bg-triangle-white.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  &__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;

    &--top {
      padding-top: 40px;
      margin-bottom: 26px;
    }
  }
}
/* min-width: 660px */

@media (min-width: 660px) {
  .suggestion {
    padding: 0 20px;
    text-align: center;

    &__text {
      font-size: 40px;

      &--top {
        padding-bottom: 0;
      }
      &--bottom {
        width: 340px;
        line-height: 45px;
        margin: 0 auto;
        margin-top: -25px;
        padding-bottom: 80px;
      }
    }
  }
}
