.time {
  position: relative;
  padding-bottom: 97px;
  background-color: @bg-color--white;
  z-index: 2;
}
.time__logo {
  position: relative;
  width: 238px;
  height: 276px;
  margin-top: 60px;
}
.time__hour {
  position: absolute;
  top: 19.9%;
  left: 7.6%;
  width: 202px;
  height: 202px;
  text-align: center;
  border-radius: 50%;
  background-image: url(../img/icon-editor-diagram-fill.svg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;

  &::before {
    content: '24';
    position: absolute;
    top: 40%;
    left: 22.8%;
    display: inline-block;
    font-size: 96px;
    line-height: 30px;
    font-weight: 700;
    color: #d22856;

  }
}
.time__content {
  width: 310px;
  margin-top: 97px;
  text-align: left;
}
.time__title {
  width: 170px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 10px;
}
.time__text {
  width: 300px;
  margin-bottom: 14px;
  text-align: left;

  &--wrap2 {
    display: none;
  }
}
.time__link {
  display: inline-block;
  vertical-align: top;
  line-height: 15px;
  color: #d22856;
}
/* max-width: 659px */

@media (max-width: 659px) {
  .time {
    &--hidden {
      display: none;
    }
  }
}
/* min-width: 960px */

@media (min-width: 960px) {
  .time {
    justify-content: flex-start;
    padding: 0;
    padding-bottom: 69px;
    background-color: @bg-color--grey;
  }
  .time__logo {
    width: 298px;
    height: 345px;
    margin-top: 30px;

    img {
      width: 100%;
      height: auto;
    }
  }
  .time__hour {
    width: 253px;
    height: 253px;

    &::before {
      top: 42%;
      font-size: 120px;
    }
  }
  .time__content {
    width: auto;
    margin-top: 125px;
    margin-left: 68px;
  }
  .time__title {
    width: 300px;
    line-height: 30px;
    margin-bottom: 25px;

    br {
      display: none;
    }
  }
  .time__text {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;

    &--wrap1 {
      display: none;
    }
    &--wrap2 {
      display: block;
    }
  }
  .time__link {
    font-size: 18px;
    line-height: 30px;
  }
}
